.idea/
/login-service/loginService/protos/login_service_ss_pb2.py
/login-service/loginService/protos/login_service_ss_pb2.pyi
/login-service/loginService/protos/login_service_ss_pb2_grpc.py
/gateway-api/gatewayApi/protos/gateway_api_cs_pb2.py
/gateway-api/gatewayApi/protos/gateway_api_cs_pb2.pyi
/gateway-api/gatewayApi/protos/gateway_api_cs_pb2_grpc.py
neo4j/
/userDb.mwb.bak