.idea/
/login-service/loginService/protos/login_service_ss_pb2.py
/login-service/loginService/protos/login_service_ss_pb2.pyi
/login-service/loginService/protos/login_service_ss_pb2_grpc.py
/gateway-api/gatewayApi/protos/login_service_cs_pb2.py
/gateway-api/gatewayApi/protos/login_service_cs_pb2.pyi
/gateway-api/gatewayApi/protos/login_service_cs_pb2_grpc.py
neo4j/
/userDb.mwb.bak
.venv/Scripts/python.exe
booking-service/__pycache__/neo4J_dao.cpython-311.pyc
frontend/__pycache__/__init__.cpython-311.pyc
frontend/login/__pycache__/__init__.cpython-311.pyc
frontend/login/entity/__pycache__/__init__.cpython-311.pyc
frontend/login/entity/__pycache__/stop.cpython-311.pyc
frontend/login/entity/__pycache__/user_route.cpython-311.pyc
frontend/login/utils/__pycache__/__init__.cpython-311.pyc
frontend/login/utils/__pycache__/json_parser.cpython-311.pyc
make-root-service/__pycache__/alg.cpython-38.pyc
make-root-service/__pycache__/alg.cpython-39.pyc
make-root-service/__pycache__/alg2.cpython-38.pyc
make-root-service/__pycache__/alg2.cpython-39.pyc
.venv/
booking-service/__pycache__/Neo4jDAO.cpython-311.pyc
booking-service/__pycache__/utils.cpython-311.pyc
db-service/dbService/dao/__pycache__/DbDao.cpython-311.pyc
make-root-service/__pycache__/alg.cpython-311.pyc
make-root-service/__pycache__/alg2.cpython-311.pyc
