@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #152733;
    overflow: auto;
}

 #navbar-li-balance, #navbar-li-usr{
     float:right;
     display: inline-block;
     padding-left: 0 !important;
     padding-top: 5px;
     padding-bottom: 5px;
 }

#navbar-li-logo{
     float:left;
     display: inline-block;
     width: 30%;
     height: auto;
 }

#navbar-div {
    background-color: #1c3c4f;
    overflow: hidden;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#navbar-li{
    float:right;
    display: inline-block;
    padding: 5px 5px;
}


#usr, #balance{
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#navbar-button{
    text-align: center;
    width: 150px;
    background-color: #1c3c4f;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #4CAF50;
    border-radius: 12px;
    outline: none;
    border-style: solid;
}

#navbar-button-usr, #navbar-button-balance{
    text-align: center;
    width: auto;
    background-color: #1c3c4f;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #1c3c4f;
    border-radius: 12px;
    outline: none;
    border-style: solid;
}
#navbar-button-usr:focus, #navbar-button-balance:focus{
    border-color: #1c3c4f;
}


#navbar-button:hover {
    background-color: #4CAF50;
    color: white;
    border-color: #1c3c4f;
}
