.accordion{
    width: 100% !important;
    border-radius: 12px !important;
    border: transparent !important;
}

#accAttive{
    padding-top: 30px !important;
    padding-left: 20px !important;
    width: 80% !important;
    border-radius: 12px !important;
    border: transparent !important;
}

#accPast{
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 30px !important;
    width: 80% !important;
    border-radius: 12px !important;
    border: transparent !important;
}

.accordion-collapse{
    color: white !important;
    border-radius: 12px !important;
}

.accordion-button{
    color: white !important;
    border-radius: 12px !important;
    border: transparent !important;
}


.accordion-button:hover, .accordion-button:active, .accordion-button:not(.collapsed){
    background-color: #4CAF50 !important;
}

button[id^="btnAccConf"]:hover, button[id^="btnAccConf"]:active, button[id^="btnAccConf"]:not(.collapsed){
    background-color: #4CAF50 !important;
}


button[id^="btnAccRej"]:hover, button[id^="btnAccRej"]:active, button[id^="btnAccRej"]:not(.collapsed){
    background-color: red !important;
}


button[id^="btnAccPend"]:hover, button[id^="btnAccPend"]:active, button[id^="btnAccPend"]:not(.collapsed){
    background-color: orange !important;
}

#btnAttive, #btnPast{
    font-size: 28px !important;
    height: 70px !important;
    background-color: #152733 !important;
    width : 40% !important;
}

.accordion-item{
    border-color: #4CAF50 !important;
    border-radius: 15px !important;
    outline: none !important;
    border-style: solid !important;
    border-width: 2px !important;
    background-color: #312626;
}

div[id^="divAccRej"] {
    border-color: red !important;
}

div[id^="divAccConf"] {
    border-color: #4CAF50 !important;
}

div[id^="divAccPend"] {
    border-color: orange !important;
}

#accItmPast, #accItmAttive{
    border-color: #152733 !important;
    border-radius: 15px !important;
    outline: none !important;
    border-style: none !important;
    background-color: #152733;
}

.map {
    height: 100%;
    border-radius: 7px;
    border: 1px solid #000000;
}

#headingAttive, #headingPast{
    font-size: 20px !important;
}

button[id^="btnConfirm"]{
    text-align: center;
    width: 150px;
    background-color: #4a9b4d;
    color: white;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #4CAF50;
    border-radius: 12px;
    outline: none;
    border-style: solid;
}

button[id^="btnReject"]{
    text-align: center !important;
    width: 150px !important;
    background-color: red !important;
    color: white !important;
    padding: 8px 8px !important;
    margin-top: 8px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-color: #d01414 !important;
    border-radius: 12px !important;
    outline: none !important;
    border-style: solid !important;
}

button[id^="btnConfirm"]:hover{
    background-color: #3e7e3f;
    border-color: #3e7e3f;
}

button[id^="btnConfirm"]:focus{
    border-color: #3e7e3f !important;
}

button[id^="btnReject"]:hover{
    background-color: #D01414FF !important;
    border-color: #D01414FF !important;
}

button[id^="btnReject"]:focus{
    border-color: #D01414FF !important;
}

.modal-content, .modal-header, .modal-body, .modal-footer{
    color: white !important;
    background-color: #152733 !important;
    border-radius: 12px !important;
}

label[id^="lbChkBox"]{
    color: white !important;
}

button[id^="btnModalRejectClose"]{
    text-align: center;
    width: 160px;
    background-color: #152733;
    color: red;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: red;
    border-radius: 12px;
    outline: none;
    border-style: solid;
    border-width: 2px;
}

input[id^="btnModalReject"]{
    text-align: center !important;
    width: 160px !important;
    background-color: red !important;
    color: white !important;
    padding: 8px 8px !important;
    margin-top: 8px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-color: #ab1212 !important;
    border-radius: 12px !important;
    outline: none !important;
    border-style: solid !important;
    border-width: 2px;
}

button[id^="btnModalRejectClose"]:hover{
    background-color: #142431;
    border-color: #bb1b1b;
    color: #bb1b1b;
}

input[id^="btnModalReject"]:hover{
    background-color: #D01414FF !important;
    border-color: #D01414FF !important;
}

button[id^="btnModalConfirmClose"]{
    text-align: center;
    width: 160px;
    background-color: #152733;
    color: #4a9b4d;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #4a9b4d;
    border-radius: 12px;
    outline: none;
    border-style: solid;
    border-width: 2px;
}

input[id^="btnModalConfirm"]{
    text-align: center !important;
    width: 160px !important;
    background-color: #4a9b4d !important;
    color: white !important;
    padding: 8px 8px !important;
    margin-top: 8px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-color: #3e7e3f !important;
    border-radius: 12px !important;
    outline: none !important;
    border-style: solid !important;
    border-width: 2px;
}

button[id^="btnModalConfirmClose"]:hover{
    background-color: #142431;
    border-color: #3e7e3f;
    color: #3e7e3f;
}

input[id^="btnModalConfirm"]:hover{
    background-color: #3e7e3f !important;
    border-color: #3e7e3f !important;
}

button[id^="btnConfirmDis"]{
    text-align: center;
    width: 150px;
    background-color: grey;
    color: white;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #696969;
    border-radius: 12px;
    outline: none;
    border-style: solid;
}

button[id^="btnConfirmDis"]:hover{
    background-color: grey;
    border-color: #696969;
}

button[id^="btnConfirmDis"]:focus{
    border-color: #696969 !important;
}



