<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap-italia/css/bootstrap-italia.min.css" />
    {% block stylesheets%}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <title>Bus4You</title>
</head>
<body>
    <div id="navbar-div">
        <ul id="navbar-ul">
            <form action="/logout">
                <li id="navbar-li"><button id="navbar-button" type="submit">Sign Out</button></li>
            </form>
            <li id="navbar-li"><button id="navbar-button" onclick="">Account</button></li>
            <form action="/loadUserRoutesPage">
                <li id="navbar-li"><button id="navbar-button" type="submit">My Routes</button></li>
            </form>
            <form action="/select-route-from-map">
                <li id="navbar-li"><button id="navbar-button" type="submit">Request Route</button></li>
            </form>
        </ul>
    </div>
    {% for msg in get_flashed_messages() %}
        <h4>{{ msg }}</h4>
    {% endfor %}
<script src="../static/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>
{% block body %}
{% endblock %}
</body>
</html>