<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap-italia/css/bootstrap-italia.min.css" />
    {% block stylesheets%}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <title>Bus4You</title>
</head>
<body>
    <div id="navbar-div">
        <ul id="navbar-ul">
            <li id="navbar-li-balance"><button id="navbar-button-balance" onclick="" disabled></button></li>
            <li id="navbar-li-usr"><button id="navbar-button-usr" onclick="" disabled>{{ session['usr'] }}</button></li>
            <form action="/logout">
                <li id="navbar-li"><button id="navbar-button" type="submit">Sign Out</button></li>
            </form>
            <form action="/load_recomended_routes_page">
                <li id="navbar-li"><button id="navbar-button" type="submit">View Routes</button></li>
            </form>
            <form action="/loadUserRoutesPage">
                <li id="navbar-li"><button id="navbar-button" type="submit">My Routes</button></li>
            </form>
            <form action="/select-route-from-map">
                <li id="navbar-li"><button id="navbar-button" type="submit">Request Route</button></li>
            </form>
            <li id="navbar-li-logo"><img src="/static/resources/logo.png" alt="Logo" style="max-width: 23%;max-height: 23%;"></li>
        </ul>
    </div>
    {% for msg in get_flashed_messages() %}
        <h4>{{ msg }}</h4>
    {% endfor %}
<script src="../static/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>
{% block body %}
{% endblock %}
</body>
<script>
    var url = "/_get_user_balance"
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data.result)
                var balance = data.result.substring(1,data.result.length-1)
                document.getElementById("navbar-button-balance").innerHTML = "&#129689;"+balance+" €";
            })
</script>
</html>