{% extends 'base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="../static/css/recommendedRoutes.css">
{% endblock %}
{% block body %}
    <div id="gigaDiv">
        <h2 id="gigaH2">BUS STATUS</h2>
        {% for bus in buses %}
            <script>
                var bus = {{ bus | tojson }};
                console.log(bus);
            </script>
            <div id="divAccordion" class="accordion accordion-background-hover accordion-background-active">
                <div id="divAcc{{ bus['zona'] }}" class="accordion-item">
                    <h2 class="accordion-header" id="head{{ bus['zona'] }}">
                        <button id="btnAcc{{ bus['zona'] }}" class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#acc{{ bus['zona'] }}" aria-expanded="true"
                                aria-controls="acc{{ bus['zona'] }}">
                            BUS
                            <script> document.write(bus["zona"]);</script>
                        </button>
                    </h2>
                    <div id="acc{{ bus['zona'] }}" class="accordion-collapse collapse show"
                         data-bs-parent="#divAcc" role="region"
                         aria-labelledby="head{{ bus['zona'] }}">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label>Utenti presenti:</label>
                                                    <script> document.write(bus["numero"]);</script><br>
                                                    <label>Coordinate:</label>
                                                    <script> document.write(bus["coordinate"]);</script><br>
                                                    <label>Batteria residua:</label>
                                                    <script> document.write(bus["ricarica_residua"]);</script>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

