{% extends 'base.html' %}

    {% block stylesheets%}
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        <link rel="stylesheet" type="text/css" href="../static/css/recommendedRoutes.css">
    {% endblock %}
    {% block body %}
        <div id="gigaDiv">
            <h2 id="gigaH2">Percorsi raccomandati</h2>
            {% for route in recommended_routes %}
                <script>
                    var route = {{ route | tojson }};
                    console.log(route);
                </script>
                <div id="divAccordion" class="accordion accordion-background-hover accordion-background-active">
                    <div id="divAcc{{ recommended_routes.index(route) }}" class="accordion-item">
                        <h2 class="accordion-header" id="head{{ recommended_routes.index(route) }}">
                            <button id="btnAcc{{ recommended_routes.index(route) }}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{ recommended_routes.index(route) }}" aria-expanded="true" aria-controls="acc{{ recommended_routes.index(route) }}">
                            PERCORSO <script> document.write(route["route"]);</script>
                            </button>
                        </h2>
                        <div id="acc{{ recommended_routes.index(route) }}" class="accordion-collapse collapse show" data-bs-parent="#divAcc" role="region" aria-labelledby="head{{ recommended_routes.index(route) }}">
                            <div class="accordion-body">
                            <div class="container">
                              <div class="row">
                                <div class="col-sm-6">
                                    Steps:<br>
                                    <script>
                                        for (var i = 0; i < route["steps"].length; i++) {

                                            document.write("[" + route["steps"][i]["step"] + "]<br>");
                                            document.write(" \t|\t\t Fermata: " + route["steps"][i]["name"] + "<br>");
                                            document.write(" \t|\t\t Orario: " + route["steps"][i]["timestamp"] + "<br>");
                                        }
                                        
                                    </script>
                                    <form action="/select-route-from-map" method="GET">
                                        <input type="hidden" id="username" name="user" value={{ session['usr'] }}><br>
                                        <div class="row">
                                          <div class="col-12">
                                              <label>Start Point</label>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-9">
                                              <!-- campo per l'inserimento del punto di partenza -->
                                              <input type="text" id="starting_point" name="starting_point" placeholder="Starting point">
                                              <input type="hidden" id="start_lat" name="start_lat">
                                              <input type="hidden" id="start_lng" name="start_lng">
                                          </div>
                                          <div class="col-3">
                                              <button type="button" id="btn_start_point" name="btn_start_point" onclick="set_starting_coord()">Select </button>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-12">
                                              <label>End Point</label>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-9">
                                              <!-- campo per l'inserimento del punto di arrivo -->
                                              <input type="text" id="ending_point" name="ending_point" placeholder="Ending point">
                                              <input type="hidden" id="end_lat" name="end_lat">
                                              <input type="hidden" id="end_lng" name="end_lng">
                                          </div>
                                          <div class="col-3">
                                              <button type="button" id="btn_end_point" name="btn_end_point" onclick="set_ending_coord()">Select</button>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-9">
                                            <button type="button" onclick="set_all_marker_default()">Reset</button>
                                          </div>
                                          <div class="col-3">
                                              <!-- pulsante di submit del form -->
                                              <input type="submit" value="Request">
                                          </div>
                                        </div>
                                    </form>
                                </div>
                                     <div class="col-sm-6">
                                        <div class="map" id="map{{ recommended_routes.index(route) }}"></div>
                                            <script>
                                                var map{{ recommended_routes.index(route) }} = L.map('map{{ recommended_routes.index(route) }}').setView([41.85578716505089, 12.62212090183184], 17);

                                                
                                                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                                    maxZoom: 19,
                                                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                                }).addTo(map{{ recommended_routes.index(route) }});
                                                
                                                var busStopIcon = L.Icon.extend({
                                                    options: {
                                                        iconSize:     [60, 60],
                                                        iconAnchor:   [30, 60]
                                                    }
                                                });

                                                var busStopIconRed = new busStopIcon({iconUrl: '/static/resources/bus-stop-red.png' });
                                                var busStopIconGreen = new busStopIcon({iconUrl: '/static/resources/bus-stop-green.png' });
                                                var busStopIconBlue = new busStopIcon({iconUrl: '/static/resources/bus-stop-blue.png' });
                                                var busStopIconGray = new busStopIcon({iconUrl: '/static/resources/bus-stop-gray.png' });
                                                
                                                //var path{{ recommended_routes.index(route) }} = L.polyline(data.result["coordinates"], {color: 'red'}).addTo(map{{ recommended_routes.index(route) }});

                                                

                                                //map{{ recommended_routes.index(route) }}.fitBounds(path{{ recommended_routes.index(route) }}.getBounds());
                                                
                                                var myCollapsiblemap = document.getElementById('acc{{ recommended_routes.index(route) }}');
                                                myCollapsiblemap.addEventListener('shown.bs.collapse', function () {
                                                    map{{ recommended_routes.index(route) }}.invalidateSize();
                                                });
                                                

                                                var markersLayer = L.featureGroup().addTo(map{{ recommended_routes.index(route) }});
                                                markersLayer.on("click", markerOnClick);

                                                


                                                var nodes_disabled_for_starting = get_disabled_nodes_for_starting();
                                                var nodes_disabled_for_ending = get_disabled_nodes_for_ending();

                                                var startingPoint;
                                                var endingPoint;
                                                var point = null;
                                                
                                                function set_starting_coord(){
                                                    point = "start";
                                                    set_all_marker_default();
                                                    disable_node(bus_stops.length - 1);
                                                    nodes_disabled_for_starting.forEach(function(node) {
                                                        disable_node(node);
                                                    });
                                                    if(endingPoint != null){
                                                        end_index = get_index_from_stop_marker(endingPoint);
                                                        a = nodes_disabled_for_ending.filter(function(element) {
                                                            return element <= end_index;
                                                        });
                                                        max = Math.max(a);
                                                        if(end_index > max){
                                                            for(var i = 0; i < max; i++){
                                                                disable_node(i);
                                                            }
                                                        }
                                                        for(var i = end_index; i < route["steps"].length; i++){
                                                            disable_node(i);
                                                        }  
                                                    }
                                                    able_start_end_point();
                                                }

                                                function set_ending_coord(){
                                                    point = "end";
                                                    set_all_marker_default();
                                                    disable_node(0);
                                                    nodes_disabled_for_ending.forEach(function(node) {
                                                        disable_node(node);
                                                    });
                                                    if(startingPoint != null){
                                                        start_index = get_index_from_stop_marker(startingPoint);
                                                        a = nodes_disabled_for_starting.filter(function(element) {
                                                            return element >= start_index;
                                                        });
                                                        min = Math.min(a);
                                                        if(start_index < min){
                                                            for(var i = min + 1; i < route["steps"].length; i++){
                                                                disable_node(i);
                                                            }
                                                        }
                                                        for(var i = 0; i < start_index; i++){
                                                            disable_node(i);
                                                        }  
                                                    }
                                                    able_start_end_point();
                                                }

                                                function able_start_end_point(){
                                                    if(startingPoint != null){
                                                        startingPoint.setIcon(busStopIconGreen);
                                                    }
                                                    if(endingPoint != null){
                                                        endingPoint.setIcon(busStopIconRed);
                                                    }
                                                }

                                                
                                                function get_disabled_nodes_for_starting(){
                                                    nodes_disabled_for_starting = [];
                                                    for(var i = 0; i < route["segments"].length; i++){
                                                        if(route["segments"][i]["seat_available"] <= 0){
                                                            nodes_disabled_for_starting.push(i);
                                                        }
                                                    }
                                                    return nodes_disabled_for_starting;
                                                }

                                                
                                                function get_disabled_nodes_for_ending(){
                                                    nodes_disabled_for_ending = [];
                                                    for(var i = 0; i < route["segments"].length; i++){
                                                        if(route["segments"][i]["seat_available"] <= 0){
                                                            nodes_disabled_for_ending.push(i + 1);
                                                        }
                                                    }
                                                    return nodes_disabled_for_ending;
                                                }

                                                var disabled_nodes = []

                                                function disable_node(index){
                                                    var marker = get_stop_marker_from_index(index);
                                                    marker.setIcon(busStopIconGray);
                                                    marker.off("click", markerOnClick)
                                                    disabled_nodes.push(index);
                                                }

                                                function get_stop_marker_from_index(index){
                                                    var marker = markersLayer.getLayers()[index];
                                                    return marker;
                                                }

                                                function get_index_from_stop_marker(marker){
                                                    for(var i = 0; i < markersLayer.getLayers().length; i++){
                                                        if(markersLayer.getLayers()[i] == marker){
                                                            return i;
                                                        }
                                                    }
                                                }

                                                function set_all_marker_default(){
                                                    for (var i = 0; i < bus_stops.length; i++) {
                                                        marker = get_stop_marker_from_index(i);
                                                        marker.setIcon(busStopIconBlue);
                                                    }
                                                    disabled_nodes = [];
                                                }

                                                function markerOnClick(e){
                                                    var clickedMarker = e.layer;
                                                    if(!(disabled_nodes.includes(get_index_from_stop_marker(clickedMarker)))){
                                                        if (point != null){
                                                            if(point == "start"){
                                                                if (startingPoint != null)
                                                                    startingPoint.setIcon(busStopIconBlue);
                                                                clickedMarker.setIcon(busStopIconGreen);
                                                                startingPoint = clickedMarker;
                                                                var bus_stop_name = clickedMarker.getTooltip().getContent();
                                                                var lat = clickedMarker.getLatLng().lat;
                                                                var lng = clickedMarker.getLatLng().lng;
                                                                document.getElementById("starting_point").value = bus_stop_name;
                                                                document.getElementById("start_lat").value = lat;
                                                                document.getElementById("start_lng").value = lng;

                                                            }
                                                            else if (point == "end"){
                                                                if (endingPoint != null)
                                                                    endingPoint.setIcon(busStopIconBlue);
                                                                endingPoint = clickedMarker
                                                                clickedMarker.setIcon(busStopIconRed);
                                                                bus_stop_name = clickedMarker.getTooltip().getContent()
                                                                var lat = clickedMarker.getLatLng().lat;
                                                                var lng = clickedMarker.getLatLng().lng;
                                                                document.getElementById("ending_point").value = bus_stop_name;
                                                                document.getElementById("end_lat").value = lat;
                                                                document.getElementById("end_lng").value = lng;
                                                            }
                                                        }
                                                    }
                                                }
                                                
                                                var bus_stops = [];
                                                var bus_stop_names = [];
                                                for (var i = 0; i < route["steps"].length; i++) {
                                                    bus_stops.push(route["steps"][i]["position"]);
                                                    bus_stop_names.push(route["steps"][i]["name"]);
                                                }
                                                
                                                console.log(bus_stops)

                                                var c = 0;
                                                bus_stops.forEach(function(bus_stop) {
                                                    
                                                    var marker = L.marker([bus_stop[0], bus_stop[1]], {
                                                        icon: busStopIconBlue,
                                                        title: "(" + bus_stop[0] + "," + bus_stop[1] + ")"
                                                    }).addTo(map{{ recommended_routes.index(route) }});
                                                    marker.bindTooltip(c + 1  + " - " +bus_stop_names[c], {
                                                        offset: L.point(0, -50)
                                                    });
                                                    c++;
                                                    marker.addTo(markersLayer);
                                                });  

                                                var url = "";

                                                fetch('/_get_path_from_stops', {
                                                      method: 'POST',
                                                      body: JSON.stringify(bus_stops),
                                                      headers: {
                                                        'Content-Type': 'application/json'
                                                      }
                                                    })
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        var path{{ recommended_routes.index(route) }} = L.polyline(data.result["coordinates"], {color: 'red'}).addTo(map{{ recommended_routes.index(route) }});

                                                        map{{ recommended_routes.index(route) }}.invalidateSize();

                                                        map{{ recommended_routes.index(route) }}.fitBounds(path{{ recommended_routes.index(route) }}.getBounds());

                                                    });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}

