{% extends 'base.html' %}

    {% block stylesheets%}
            <link rel="stylesheet" type="text/css" href="../static/css/userRoutes.css">
    {% endblock %}


    {% block body %}
        <div id="divAccordion" class="accordion accordion-background-hover accordion-background-active">
        {% for route in user_routes %}
            <div id="divAcc{{ user_routes.index(route) }}" class="accordion-item">
                <h2 class="accordion-header" id="head{{ user_routes.index(route) }}">
                  <button id="btnAcc{{ user_routes.index(route) }}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{ user_routes.index(route) }}" aria-expanded="false" aria-controls="acc{{ user_routes.index(route) }}">
                   {{ route.getStartStop() }} -> {{ route.getEndStop() }} - Data: {{ route.getDate() }} - Partenza: {{ route.getStartHour() }} - Arrivo: {{ route.getEndHour() }}
                  </button>
                </h2>
                <div id="acc{{ user_routes.index(route) }}" class="accordion-collapse collapse" data-bs-parent="#divAccordion" role="region" aria-labelledby="head{{ user_routes.index(route) }}">
                  <div class="accordion-body">
                      Data: {{ route.getDate() }} <br><br>
                      Partenza: {{ route.getStartHour() }} <br>
                      Arrivo: {{ route.getEndHour() }} <br><br>
                      Percorso: <br>
                      {% for stop in route.getStops() %}
                          {% if route.getStops().index(stop) == 0 %}
                            {{ stop.getName() }}
                          {% else %}
                            -> {{ stop.getName() }}
                          {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endblock %}